{% extends 'BoxAdminBundle:Base:layout.html.twig' %}

{% block sonata_admin_content %}
    {{ parent() }}

    {% if user.getFlagAdmin %}

        <div class="alert alert-warning">
            {{ 'Yo cannot change the password of an user with role "administrator"'|trans }}
        </div>

        <a class="btn btn-default"
           href="{{ path('admin_jaltamir_boxcore_user_list') }}">{{ 'Return to list'|trans }}</a>

    {% else %}

        <div class="alert alert-info">
            {{ 'You are changing the password for user:'|trans }} {{ user.name }} {{ user.surname }}
        </div>

        {{ form_start(form) }}
        {{ form_row(form.password) }}

        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-left">
                    <div class="form-group">
                        <a class="btn btn-default"
                           href="{{ path('admin_jaltamir_boxcore_user_list') }}">{{ 'Return to list'|trans }}</a>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <div class="form-group">
                        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn-primary' } }) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

    {% endif %}

{% endblock %}
